My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d5586cd8-dd68-4e23-ae43-b34927518408",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/12cfE1tlRjelUlCZPaKj42FT5y18cEV8nra1KYH79BM4/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Watchlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12cfE1tlRjelUlCZPaKj42FT5y18cEV8nra1KYH79BM4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "5506f74b-8485-40bf-8232-c2a475df9441",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ovnmDG6Hky4J7bZ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "115d166f-3a0c-4c9c-9eaf-12fa19ef63eb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json[\"Company\"]}}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "id": "1facb512-b73a-4ae8-b528-5d0f3579a860",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i3EcyOynBeulQuqC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa3b9861-a085-4fb1-b06c-4ddfd4e57881",
              "leftValue": "={{ $json.totalResults }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "66e7c1a9-43ed-4acd-9767-319fe9eabefc",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        -80
      ],
      "id": "7a50cabc-0260-445a-abea-545386de89bf",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company: {{ $('Get row(s) in sheet').item.json.Company }}\nRecent news articles: {{ $('HTTP Request').item.json.articles }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a financial news analyst.\nAnalyze the news articles and respond with ONLY a JSON object containing:\n{\n  \"summary\": \"Brief 2-sentence summary\",\n  \"sentiment\": \"Bullish, Bearish, or Neutral\", \n  \"impact_score\":\"number from 1-10\", \n   \"recommendation\": \"Buy, Hold, or Sell with brief reason\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1072,
        -96
      ],
      "id": "21936571-b74c-4b91-aca7-23c006ad1a33",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        176
      ],
      "id": "88501228-54e5-4a25-8944-18347c76b432",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vUVi2b8YxxWFptY2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"Brief 2-sentence summary\",\n  \"sentiment\": \"Bullish, Bearish, or Neutral\", \n  \"impact_score\":\"number from 1-10\", \n   \"recommendation\": \"Buy, Hold, or Sell with brief reason\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1248,
        160
      ],
      "id": "cd351b8a-b582-4c08-bdba-3db9d7a13488",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "oworahsunday@yahoo.co.uk",
        "subject": "=Today's News Alert ({{$now.toFormat('MMM d, yyyy')}})\n",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 650px; margin: 20px auto;\">\n\n    <!-- DYNAMIC TITLE -->\n    <h1 style=\"margin-bottom: 10px;\">\n        {{ $json.output.company }} Stock Analysis\n    </h1>\n\n    <!-- COMPANY NAME SUBTITLE -->\n    <h2 style=\"font-size: 22px; margin: 0 0 20px 0;\">\n        {{ $json.output.company }}\n    </h2>\n\n    <!-- SENTIMENT SECTION -->\n    <div style=\"background:#f1f5f9; padding:18px; border-radius:12px; margin-bottom:20px;\">\n        <h3 style=\"margin:0 0 8px; font-size:20px;\">AI Sentiment</h3>\n        <p style=\"margin:0; font-size:18px; font-weight:bold;\">\n            {{ $json.output.sentiment }}\n        </p>\n    </div>\n\n    <!-- IMPACT SCORE -->\n    <div style=\"background:#e0f2fe; padding:18px; border-radius:12px; margin-bottom:20px;\">\n        <h3 style=\"margin:0 0 8px; font-size:20px;\">Impact Score</h3>\n        <p style=\"margin:0; font-size:22px; font-weight:bold;\">\n            {{ $json.output.impact_score }}/10\n        </p>\n    </div>\n\n    <!-- SUMMARY -->\n    <div style=\"background:#fef3c7; padding:18px; border-radius:12px; margin-bottom:20px;\">\n        <h3 style=\"margin:0 0 8px; font-size:20px;\">Summary</h3>\n        <p style=\"margin:0; font-size:16px;\">\n            {{ $json.output.summary }}\n        </p>\n    </div>\n\n    <!-- RECOMMENDATION -->\n    <div style=\"background:#fae8ff; padding:18px; border-radius:12px; margin-bottom:20px;\">\n        <h3 style=\"margin:0 0 8px; font-size:20px;\">Recommendation</h3>\n        <p style=\"margin:0; font-size:18px; font-weight:bold;\">\n            {{ $json.output.recommendation }}\n        </p>\n    </div>\n\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        128
      ],
      "id": "2ff6333e-e402-4dd4-868c-119fbf61bc6a",
      "name": "Send a message",
      "webhookId": "7755fe67-a465-4cee-917a-f3460ded0010",
      "credentials": {
        "gmailOAuth2": {
          "id": "4lHJjDwA6fES6r5r",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8ab663e-3bfa-49b0-808c-483cb918ede3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04bb26d47793233883fc1099fe9b222efafbb7f9693be2ecc67e4a16aedbb8fd"
  },
  "id": "HwB50XVseEQeuvCU",
  "tags": [
    {
      "name": "Stock Analysis",
      "id": "vWSCHqLYmjWJxQ25",
      "updatedAt": "2025-11-19T15:40:46.384Z",
      "createdAt": "2025-11-19T15:40:46.384Z"
    }
  ]
}